@layout("/common/_container.html"){
<div class="ibox float-e-margins">
    <div class="ibox-content">
        <div class="form-horizontal">

            <div class="row">
                <div class="col-sm-6 b-r">
                            <#input id="id" name="编号" value="${item.id}" underline="true"/>
                            <#input id="type" name="题目类型" value="${item.type}" underline="true"/>
                            <#input id="title" name="标题" value="${item.title}" underline="true"/>
                            <#input id="optiona" name="选项A" value="${item.optiona}" underline="true"/>
                            <#input id="optionb" name="选项B" value="${item.optionb}" underline="true"/>
                            <#input id="optionc" name="选项C" value="${item.optionc}" />
                </div>

                <div class="col-sm-6">
                            <#input id="optiond" name="选项D" value="${item.optiond}" underline="true"/>
                            <#input id="tips" name="提示" value="${item.tips}" underline="true"/>
                            <#input id="answer" name="答案" value="${item.answer}" underline="true"/>
                            <#input id="explain" name="解析" value="${item.explain}" underline="true"/>
                            <#input id="kind" name="科目" value="${item.kind}" />
                </div>
            </div>

            <div class="row btn-group-m-t">
                <div class="col-sm-10">
                    <#button btnCss="info" name="提交" id="ensure" icon="fa-check" clickFun="QuestionInfoDlg.editSubmit()"/>
                    <#button btnCss="danger" name="取消" id="cancel" icon="fa-eraser" clickFun="QuestionInfoDlg.close()"/>
                </div>
            </div>
        </div>

    </div>
</div>
<script src="${ctxPath}/static/modular/question/question/question_info.js"></script>
@}
